.permissions{
    justify-content: center;
    max-width: 500px;
    margin: 20px auto;
}
.permissionsTable{
    margin: 20px;
}
@media (max-width: 560px) {
    .permissions{
        margin: 10px;
    }
}