body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a:hover{
  color: #626060 !important;
}

.AppHeader a {
  text-decoration: none;
  margin: 0 5px;
}

.page a {
  text-decoration: none;
  color: #2e2e2e;
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}
.welcome{
  height: 500px;
  display: flex;
}
.welcome h1{
   margin: auto;
}
form .form-label{
  font-weight: bold;
}
form button[type=submit]{
  float: right;
}